body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.desertAttr {
  background-color:chocolate;
  width: 120px;
 }
#desertForm{
   background-color: magenta;
   width: 356px;
 }
 h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  background-color:lightseagreen;
  font-size: 25px;
  }
